<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="anfir" connectionString="Server=177.70.116.135;Database=anfir;User ID=anfir;Password=An306Fir" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <customErrors mode="Off" />
  </system.web>
</configuration>